CertSigner=certsigner2015:tcp -h 149.156.97.154 -p 11112
FinancialNews=financialnews:tcp -h 149.156.97.154 -p 11113
# BankManager.Endpoints=tcp -h 127.0.0.1 -p 10000:udp -h 127.0.0.1 -p 10000:ssl -h 127.0.0.1 -p 10001
BankManager.Endpoints=ssl -h 127.0.0.1 -p 10001

#
# Evictor
#

Evictor.Limit=2

#
# Warn about connection exceptions.
#
Ice.Warn.Connections=1

#
# Client-side ACM is enabled by default, with an interval of 60
# seconds. For this demo, we want to use a short timeout of 10
# seconds. By enabling network tracing below, you can see ACM
# automatically close idle connections.
#
Ice.ACM.Client=10

#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
Ice.Trace.Network=2

#
# SSL
#

Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=.
IceSSL.Keystore=c.jks
IceSSL.Password=rozprochy
IceSSL.Truststore=c.jks
IceSSL.CertVerifier=pl.edu.agh.ki.dsrg.sr.bankmanagement.ice.security.SimpleCertificateVerifier

#
# Timeouts
#

Ice.Override.Timeout=3000
